layout {
  
  gaps 4

  border {
  width 2
  }

  focus-ring {
  width 2
  }
}
window-rule {
  geometry-corner-radius 6
  clip-to-geometry true
  tiled-state true
  draw-border-with-background false
}

recent-windows {
    highlight {
        active-color "#7aa2f7"
        urgent-color "#f7768e"
    }
}

cursor {
    xcursor-theme "Qogir"
    xcursor-size 24
    hide-when-typing
}
