cursor {
    xcursor-theme "Qogir"
    xcursor-size 24
    hide-when-typing
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

overview {
  // Choose your favorite color.
  backdrop-color "#0a0a0a"
}
