* {
  font-family: JetBrainsMono NF;
  /* font-size: 14px; */
  font-weight: bolder;
  min-height: 0;
}

window#waybar {
  background-color: transparent; 
  color: @foreground;
}

#workspaces{
  border-radius: 8px 0px 0px 8px;
  margin: 2px 0px 2px 20px;
  padding: 2px 0px 2px 15px;
  background-color: @background;
}

#workspaces button{
  border-radius: 8px;
  margin: 0px 8px 0px 0px;
  padding: 2px 8px;
  background-color: @color8;
  font-size: 12px;
  font-weight: normal;
}

#workspaces button.active, #workspaces button.focused{
  padding: 2px 22px;
  background: @highlight;
  color: @background;
}

#window {
  background-color: @background;
  border-radius: 0px 8px 8px 0px;
  margin: 2px 0px 2px 0px;
  padding: 2px 20px 2px 18px;
}

#clock {
  background-color: @background;
  border-radius: 8px;
  margin: 1px 0px 1px 0px;
  padding: 2px 15px;
} 

#battery {
  background-color: @background;
  border-radius: 0px 8px 8px 0px;
  margin: 1px 18px 1px 0px;
  padding: 1px 8px;
}

#tray {
  background-color: @background;
  border-radius: 8px 0px 0px 8px;
  margin: 1px 0px 1px 0px;
  padding: 1px 8px 1px 15px;
}

#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#network {
  /* border-radius: 15px; */
  margin: 1px 0px 1px 0px;
  padding: 1px 8px;
  background-color: @background;
}

tooltip {
    background: @background;
    color: @foreground;
    border-radius: 7px;
    border-width: 0px;
}
