window-rule {
  match app-id=r#"brave-browser$"#
  match app-id=r#"discord$"#
  match app-id=r#"chromium$"#
  match app-id=r#"firefox$"#
  match app-id=r#"zen$"#
  open-maximized true
  // open-maximized-to-edges true
  // default-column-width { proportion 1.0; }
}
