Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm*renderFont: true
XTerm*faceName: xft:JetBrainsMono Nerd Font:size=12, \
                xft:Monospace:style=Medium:size=12
XTerm*faceSize: 12
XTerm*utf8: 2
XTerm*locale: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()


! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

! I like a LOT of scrollback...
XTerm*savelines: 16384

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
URxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:JetBrainsMono Nerd Font:size=12, \
            xft:JoyPixels:size=12, \
            xft:Monospace:style=Medium:size=12
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white

!!clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*depth: 32

! COLORS FOR SXIV
Sxiv.foreground:   #abb2bf
Sxiv.background:   #0a0a0a
Sxiv.font: JetbrainsMono Nerd Font:size=12


*.foreground:    #A9B1D6
*.background:    #1A1B26
*.cursorColor:   #A9B1D6
*.highlightColor:#3A3F4B

!*fading:                  40
!*fadeColor:               S_base03
!*pointerColorBackground:  S_base01
!*pointerColorForeground:  S_base1

! Normal      Bright
! --------    -------
! 0 Black      8 Black
! 1 Red        9 Red
! 2 Yellow    10 Yellow
! 3 Green     11 Green
! 4 Blue      12 Blue
! 5 Magenta   13 Magenta
! 6 Cyan      14 Cyan
! 7 White     15 White

! Black colours
*.color0:        #1A1B26
*.color8:        #4E5173
! Red colours
*.color1:        #F7768E
*.color9:        #E06C75
! Yellow colours
*.color2:        #E0AF68
*.color10:       #D19A66
! Green colours
*.color3:        #9ECE6A
*.color11:       #98C379
! Blue colours
*.color4:        #7AA2F7
*.color12:       #61AFEF
! Magenta (pink, !green) colours
*.color5:        #9A7ECC
*.color13:       #C678DD
! Cyan (blue + green)
*.color6:        #4ABAAF
*.color14:       #56B6C2
! White colours
*.color7:        #ACB0D0
*.color15:       #ABB2BF

